<!DOCTYPE html>
<html>
  <head>
    <title>Stage</title>
  
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    
  </head>
  
  
  <body>
   
      <h1>
          
     </h1>
    
    <div>
      <a href="/nominations">Décret portant nomination (magistrature)</a>
    </div>
    <br>
    <div>
      <a href="/nlp">OpenNlp data extraction </a>
    </div>
    
  
    
    
    <script src="/client.js"></script>
    
  </body>
  
</html>
